.reviewCard{
    border-top: 1px solid rgb(186, 186, 186);
    display: flex;
    padding-block: 14px;
    gap: 20px;
}
/* .avtarImg{
    flex: 1;
} */
.reviewCard .content{
    flex: 4;
}
.reviewCard .time{
    flex: 1;
}
.reviewerName{
    font-weight: bold;
}