.prodReviewContainer .heading h3{
    font-weight: bold;
    font-size: larger;
}

.ratingCon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ratingCon .ratingTitle{
    font-size: 50px;
    font-weight:600;
}
.reviewContainerCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.prodReviewContainer .ratingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}