.homeContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-inline: 10px;
    margin-top: 0px;
    /* background-color: white; */
    margin-inline: 150px;
    padding-bottom: 25px;
/* 
    background: rgba(255, 255, 255, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */
}
.shopByCategoryHeading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}
@media (max-width: 800px) {
    .homeContainer{
        margin-inline: 0px;
    }
}