.categoryContainer{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-inline: 150px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

     /* background: rgba(255, 255, 255, 0.35); */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}


.category img{
    height: 120px;
    width: 150px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 0px;
    background-color: white;
    height: auto;
    cursor: pointer;
}

.category .heading{
    font-weight: 700;
}

@media (max-width: 800px) {
    .categoryContainer{
        margin-top: 56px;
        margin-inline: 0px;
    }
    .category{
        margin-bottom: 10px;
    }
}