.searchResultContainer{
     display: flex;
    /* justify-content: space-around; */
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-inline: 32px;
    margin-top: 65px;
    background-color: white;
    margin-inline: 120px;
    padding-bottom: 30px;
}
.searchResultNotFoundContainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.searchResultNotFoundContainer .searchResultNotFoundImg{
    height: 750px;
    object-fit: contain;
}
@media (max-width: 800px) {
    .searchResultContainer{
        margin-inline: 0px;
        padding-inline: 13px;
    }
}