
.carousel-container-wrapper {
  position: relative;
  margin-top: 40px;
  /* background-color: green; */
}

.carousel-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%; 
  padding: 10px;
  cursor: pointer;
  z-index: 10; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.alice-carousel__dots-item{
  background-color: grey !important;
}
/* .alice-carousel__dots-item __active{
  background-color: grey !important;
} */


.carousel-nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* .alice-carousel__next-btn, .alice-carousel__prev-btn{
  display: none !important;
}
.carousel-nav-btn{
  display: block !important;
} */
.carousel-nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev-btn {
  left: 10px; 
}

.next-btn {
  right: 10px; 
}

.alice-carousel img {
  height: 600px; 
  width: 100%; 
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
  object-fit:contain !important;
  display: block; 
}
.alice-carousel__dots{
  margin-top: 10px !important;
}
.alice-carousel__prev-btn,.alice-carousel__next-btn{
  padding: 0px !important;
  margin: 0px !important;
}
.alice-carousel__stage-item {
  height: 600px !important; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
    .carousel-container-wrapper{
      display: none;
    }
}