.detailsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SummaryContainer{
    display: flex;
    align-items: flex-start;
}
.imagesContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagesContainer img{
    height: 220px;
}

