.Cartcard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid rgb(242, 242, 242); */
  /* border: 10px solid black; */
  margin-top: 10px;
  /* padding-top: 20px; */
  /* height: 550px; */
  display: flex;
  gap: 15px;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-block: 10px;
  flex-wrap: wrap;
  /* transition: all 2s ease-out; */
}

.Cartcard:hover {
  transform: scale(1.02);
}



.Cartcard .CardDes {
  height: 40px;
  width: 700px;
  /* background-color: green; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  /* text-align: justify; */

}

.Cartcard .cardTitle {
  white-space: nowrap;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: justify; */
}

.Cartcard .priceContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

.Cartcard .discount {
  text-decoration: line-through;
  color: grey;
}

.Cartcard .discountPercent {
  color: green;
}

.Cartcard .cardContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 800px) {
  .Cartcard {
    width: auto;
    height: auto !important;
    /* flex-direction: column !important; */
    justify-content: center;
    margin-right: 15px;
    padding-inline:5% !important;
  }

  .Cartcard .CardDes {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    /* white-space: nowrap; */
    /* overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify; */
    /* text-align: justify; */

  }

}